@tailwind base;
@tailwind components;
@tailwind utilities;

/* Additional styles for search input */
@layer components {
  .search-input {
    @apply flex items-center w-full border rounded-full px-4 py-2;
  }

  .search-input input {
    @apply w-full bg-transparent outline-none;
  }

  .input-placeholder::placeholder {
    @apply text-slate-600;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
